.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body, .sticky-footer-wrapper {
  min-height:100vh;
  padding-top: 30px;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



<<<<<<< HEAD
||||||| merged common ancestors
.footer-lists-heading{
  font-weight: bold;
  color:gray;
  text-align: start;
  

}
.footer-desc-col{
 justify-content: flex-start;
 text-align: start;
}
.desc{
  font-size: small;
  text-align: start;
  color: white;
  font-weight: lighter;
  
}

 .sticky-footer-wrapper {
  min-height:100vh;
  font-family:'Montserrat'; 
}
.flex-fill {
  flex:1 1 auto;
}

.Search{
  height: 50vh;
  justify-content: center;
  background-image: url("./images/francesca-tirico-9G9vxsMzi18-unsplash.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
 
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
}

=======
.footer-lists-heading{
  font-weight: bold;
  color:gray;
  text-align: start;
  

}
.footer-desc-col{
 justify-content: flex-start;
 text-align: start;
}
.desc{
  font-size: small;
  text-align: start;
  color: white;
  font-weight: lighter;
  
}

 .sticky-footer-wrapper {
  min-height:100vh;
  font-family:'Montserrat'; 
}
.flex-fill {
  flex:1 1 auto;
}

.Search{
  height: 60vh;
  justify-content: center;
  background-image: url("./images/francesca-tirico-9G9vxsMzi18-unsplash.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
 
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
}

>>>>>>> feature







@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
